*{margin:0; padding:0;}

#slide {
    
    position: relative;
    display: flex;

    justify-content: center;

}
.slide-img {
    width: 1200px;
    height: 550px;      /* 원하는 슬라이드 높이 */
    
}
.slide-img video {
   
   width: 1200px;

   
    opacity: 0.5;

}
.slide-text {
    position: absolute;
    top: 30%;
    left: 25%;
    
}
.slide-text p {
    font-size: 25px;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: left;
} 