* {margin: 0; padding: 0;}

#wrap {

    display: flex;
    justify-content: center;
}
#header {
    position: absolute;
    justify-content: center;
}

#slider {
  margin-top: 30px;
  margin-bottom: 30px;
}



.image-box.image-row {

  width: 1190px;
  display: flex;

  justify-content: center; /*가운데 정렬*/
  gap: 10px;  /*붙이기 */


}

.image-box.image-row:first-of-type {
  margin-top: 150px;
}

.image-box.image-row:not(:first-of-type) {
  margin-top: 0;
}
.image-box.image-row img {
  max-width: 50%;           /*한 줄에 두 장 */



  
}



/*맨 위로 버튼*/
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: #4a5858;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

#topBtn:hover {
  background-color: #555;
}


