* {margin: 0; padding: 0;}

#wrap {

    display: flex;
    justify-content: center;
}
#header {
    position: absolute;
    justify-content: center;
}

#slider {
  margin-top: 30px;
  margin-bottom: 30px;
}
.image-box {
  width: 1200px;
  
  margin-top: 150px;

  

}
.image-box1 {
 
    width: 1200px;
    height: 100px;
    background-color: #4a5858;
   


}
.image-box1 p {
    
   text-decoration: none; 
    padding: 35px 40px;
    color:#fff;
    font-size: 20px;
    
}

/*영상*/
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

    
.image-box video {
    display: block;        /* 인라인 → 블록 요소로 변경 */
    margin: 0 auto;        /* 좌우 여백 자동 → 가운데 정렬 */
   

    height: auto; /* 세로 비율 유지 */
}

/*영상*/

.image-box2 {
 
    width: 1200px;
    height: 50px;
    background-color: #b8c9c9;


}
.image-box2 p {
   text-decoration: none; 
   text-align: center;
    padding: 10px 10px;
    color:#4a5858;
    font-size: 20px;
    
}

.image-box.image-row {

  width: 1190px;
  display: flex;

  justify-content: center; /*가운데 정렬*/
  gap: 10px;  /*붙이기 */


}

.image-box.image-row:first-of-type {
  margin-top: 150px;
}

.image-box.image-row:not(:first-of-type) {
  margin-top: 0;
}
.image-box.image-row img {
  max-width: 50%;           /*한 줄에 두 장 */



  
}



/*맨 위로 버튼*/
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: #4a5858;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

#topBtn:hover {
  background-color: #979797;
}


